.button {
  display: inline-block;
  padding: 0.5em 1.5em;
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 0.25em;
  font-size: 14px;
  font-family: cursive;
}

.button + .button {
  margin-right: 20px;
}

.button.button-round {
  border-radius: 1.3em;
}
.button.buttom-round.button-icon {
  width: 1.3em;
  height: 1.3em;
  margin-top: -0.05em;
  font-size: 40px;
  line-height: 1.2;
  padding: 0;
}

.button:hover {
  background-color: orange;
  cursor: pointer;
}
