.button {
    display: inline-block;
    padding: 0.5em 1.5em;
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 0.25em;
    font-size: 14px;
    font-family: cursive;
    

}

.button:hover {
    background-color: orange;
    cursor:pointer;
}
