.form {
  display: inline-block;
  width: 100%;
}
.form > * {
  margin-bottom: 20px;
}
.form > *:last-child {
  margin-bottom: 0;
}

.from > label {
  display: none;
}
.form > input {
  width: 100%;
  font-size: 17px;
  line-height: 1.5em;
  border: none;
  border-bottom: 2px solid #ccc;
  float: left;
  padding: 0.5em 0;
  border-radius: 0.2em;
  background-color: transparent;
}
section .form > input {
  color: #fff;
}

/* .form > input:last-child {
  margin-bottom: 0;
}

.form > input:last-of-type {
  float: right;
} */

.form > textarea {
  width: 100%;
  min-height: 100px;
  max-height: 300px;
  resize: none;
}

.form *:focus {
  outline: 1px solid var(--secondary-color);
}
