.container {
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 500px);
   
}

.container > .left {}

.container > .right {}
 
/*@media (width: 1100px) {
    .container {
        width: 800px;
        margin-left: calc(50% - 500px);
        background-color: pink;
    }
}

@media (max-width: 900px) {
    .container {
    width: 800px;
    margin-left: calc(50% - 500px);
    background-color:tomato;
    }
}

@media (max-width: 700px) {
    .container {
    width: 800px;
    margin-left: calc(50% - 500px);
    background-color:turquoise;
    }
}

@media (max-width: 500px) {
    .container {
    width: 800px;
    margin-left: calc(50% - 500px);
    background-color:thistle;
    }
}*/

@media (max-width: 900px) {
    .container > .left  {
    width: 90%;
    margin-bottom: 40px;
    background-color:thistle;
    }
    .container > .right {
        width: 90%;
        margin-right: 0;
    }
}

@media (min-width: 1001px) {
        .left {
            width: 40%;
            background-color:yellow;
            float: left;
            margin-right: 5%;
        }
        .right { 
            width: 55%;
            background-color:tomato;
            float: left;
        }
    }